@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');




@media screen and (min-width: 800px) { .wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  
  
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}
.teswira{
	width: 100px;
	height: 100px;
}
}

.wrapper .left{
  width: 35%;
  background: linear-gradient(to right,black,#666666);
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.wrapper .left img{
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 20%;
  
}

.wrapper .left h4{
  margin-bottom: 10px;
}

.wrapper .left p{
  font-size: 12px;
}

.wrapper .right{
  width: 50vw;
  background: #fff;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: scroll;
  height: 600px;
}

.wrapper .right .info,
.wrapper .right .projects{
  margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .projects h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapper .right .info_data,
.wrapper .right .projects_data{
  display: flex;
  justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data{
  width: 45%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4{
    color: #353c4e;
    margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p{
  font-size: 13px;
  margin-bottom: 10px;
  color: #919aa3;
}

.wrapper .social_media ul{
  display: flex;
}

.wrapper .social_media ul li{
  width: 45px;
  height: 45px;
  background: linear-gradient(to right,#01a9ac,#01dbdf);
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  line-height: 45px;
}

.wrapper .social_media ul li a{
  color :#fff;
  display: block;
  font-size: 18px;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

.containerb {
	background: #fff;
	width: 100%;
	padding: 1rem;
}

.title {
	font-size: 24px;
	line-height: 28px;
	font-weight: bold;
	color: #374151;
	padding-bottom: 11px;
	border-bottom: 1px solid #d7dbdf;
}

.form-group {
	margin-top: 25px;
	display: flex;
	flex-direction: column;
}

.textarea-group label,
.form-group label {
	color: #374151;
	font-size: 16px;
	line-height: 19px;
	margin-bottom: 10px;
}

.form-group [type],
.textarea-group textarea {
	border: 1px solid #d2d6db;
	border-radius: 6px;
	padding: 15px;
}
.form-group [type]:hover,
.textarea-group textarea:hover {
	border-color: #a8afb9;
}
.form-group [type]:focus,
.textarea-group textarea:focus {
	border-color: #5850eb;
}

.textarea-group {
	margin-top: 24px;
}

.textarea-group textarea {
	resize: none;
	width: 100%;
	margin-top: 10px;
	height: calc(100% - 59px);
}






.buttone {
	font-weight: bold;
	line-height: 19px;
	background: #5850eb;
	border: none;
	padding: 15px 25px;
	border-radius: 6px;
	color: white;
	width: 100%;
	margin-top: 24px;
}
.buttone:hover {
	background: #6e67ee;
}
.buttone:focus {
	background: #4239e8;
}

@media screen and (min-width: 768px) {
	body {
		align-items: center;
		justify-content: center;
	}

	.containerb {
		margin: 2rem;
		
	
	}
	.teswira{
		width: 100px;
		height: 100px;
	}
}
@media screen and (min-width: 1024px) {
	.containerb {
		max-width: 80%;
		width: 100%;
	}

	.teswira{
		width: 100px;
		height: 100px;
	}

	.grid {
		display: grid;
		grid-gap: 24px;
		grid-template-columns: 1fr 1fr 1fr;
		grid-auto-rows: 1fr;
	}

	.email-group {
		grid-column: 1;
		grid-row: 2;
	}

	.phone-group {
		grid-column: 2;
		grid-row: 2;
	}

	.textarea-group {
		grid-column: 3;
		grid-row: span 2;
		margin-right: 2rem;
	}

	.buttone-containerb {
		text-align: right;
	}

	.buttone {
		
		width: auto;
	}
}
.cate{
	padding: 15px;
}

.desc{
	padding: 100px;
}

.prfl li{
	color: #333;
	list-style: none;
	padding: 15px;
	
}
.prfl li :hover{
	color: rgb(37, 109, 133);
}
.prfl{
	margin-top: 10%;
}
.nme{
	color: rgb(37, 109, 133);
}
/* ====================================================================================================================== */


.leaflet-container {
	height: 200px;
}













/* Slideshow */

.slideshow {
	margin: 0 auto;
	overflow: hidden;
	max-width: 500px;
  }
  
  .slideshowSlider {
	white-space: nowrap;
	transition: ease 1000ms;
  }
  
  .slide {
	display: inline-block;
  
	height: 400px;
	width: 100%;
	border-radius: 40px;
  }
  
  /* Buttons */
  
  .slideshowDots {
	text-align: center;
  }
  
  .slideshowDot {
	display: inline-block;
	height: 20px;
	width: 20px;
	border-radius: 50%;
  
	cursor: pointer;
	margin: 15px 7px 0px;
  
	background-color: #c4c4c4;
  }
  
  .slideshowDot.active {
	background-color: #6a0dad;
  }